:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.item {
  margin: 6px;
  border: 1px solid teal;
  border-radius: 6px;
  box-shadow: 5px 1px 1px gray;
}
.item :focus {
  background-color: red;
  border-color: blue;
}
.optionswrap {
  width: 100px;
  border: 3px solid teal;
  border-radius: 6px;
}
